

.dl-horizontal dt {
    white-space: normal;
}


#TimeTabel{
    position : relative;
    min-height:100%;
    min-width :100%;
    padding-top : 85px;
    
}
#Time {
font-size :12px;
 
}

#Line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color : black;
}


#Body{
    padding-left :30px;
    padding-right:30px;
}

#Footer {
    position: absolute;
    right: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

#TaskDescription {
    width: 80px;
    top: 50px;
    left: 130px;
    position: absolute;
}


#TaskDescription2 {
    width: 80px;
    top: 50px;
    left: 270px;
    position: absolute;
}

#Task {
    width: 130px;
    top: 98.5px;
    left: 130px;
    position: absolute;
    background-color: #efefef;
    opacity: 0.8;
    height : 1125px;
}
#Task2 {
    width: 130px;
    top: 98.5px;
    left: 270px;
    position: absolute;
    background-color: #efefef;
    opacity: 0.8;
    height: 1125px;
}