@{
    ViewBag.Title = "Home Page";
}

<div id="TimeTabel">
<hr id="Line" />
<p id="Time">00:00</p>
<hr id="Line" />
<p id="Time">01:00</p>
<hr id="Line" />
<p id="Time">02:00</p>
<hr id="Line" />
<p id="Time">03:00</p>
<hr id="Line" />
<p id="Time">04:00</p>
<hr id="Line" />
<p id="Time">05:00</p>
<hr id="Line" />
<p id="Time">06:00</p>
<hr id="Line" />
<p id="Time">07:00</p>
<hr id="Line" />
<p id="Time">08:00</p>
<hr id="Line" />
<p id="Time">09:00</p>
<hr id="Line" />
<p id="Time">10:00</p>
<hr id="Line" />
<p id="Time">11:00</p>
<hr id="Line" />
<p id="Time">12:00</p>
<hr id="Line" />
<p id="Time">13:00</p>
<hr id="Line" />
<p id="Time">14:00</p>
<hr id="Line" />
<p id="Time">15:00</p>
<hr id="Line" />
<p id="Time">16:00</p>
<hr id="Line" />
<p id="Time">17:00</p>
<hr id="Line" />
<p id="Time">18:00</p>
<hr id="Line" />
<p id="Time">19:00</p>
<hr id="Line" />
<p id="Time">20:00</p>
<hr id="Line" />
<p id="Time">21:00</p>
<hr id="Line" />
<p id="Time">22:00</p>
<hr id="Line" />
<p id="Time">23:00</p>
<hr id="Line" />
</div>

<div id="Task">
</div>
<div id="TaskDescription">
    <h3>Kitchen</h3>
</div>

<div id="Task2">
</div>
<div id="TaskDescription2">
    <h3>Sleep</h3>
</div>

